<div>
  <div style="text-align: center; text-transform: uppercase; font-weight: bold">
    <h3>listes des publications</h3>
  </div>
  <table style="width: 100%">
    <thead style="width: 100%; border: 1px black solid">
      <tr
        style="width: 100%; border: 1px black solid"
        [ngStyle]="{
          'background-color': admin == 0 ? 'white' : '#f1f1f1'
        }"
        style="text-transform: uppercase; font-size: 12px"
      >
        <th style="text-align: center; padding: 8px; border: 1px solid black">
          Ajouté Le
        </th>
        <th style="text-align: center; padding: 8px; border: 1px solid black">
          Auteur
        </th>
        <th style="text-align: center; padding: 8px; border: 1px solid black">
          Titre en Français
        </th>
        <th style="text-align: center; padding: 8px; border: 1px solid black">
          Titre en Anglais
        </th>
        <th style="text-align: center; padding: 8px; border: 1px solid black">
          status
        </th>

        <th style="text-align: center; padding: 8px; border: 1px solid black">
          derniére modification
        </th>
        <th style="text-align: center; padding: 8px; border: 1px solid black">
          .
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of Articles; let i = index"
        [ngStyle]="{ 'background-color': i % 2 == 0 ? 'white' : '#f1f1f1' }"
      >
        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        >
          {{ row.created | date: "medium" }}
        </td>
        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        >
          {{ row.authorId ? row.authorId.firstName : "." }}
        </td>
        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        >
          {{ row.titleFrench }}
        </td>
        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        >
          {{ row.titleEnglish }}
        </td>
        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: left;
            font-size: 13px;
          "
        ></td>

        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        ></td>
        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        ></td>
      </tr>

      <tr>
        <td></td>
        <td colspan="3" style="text-align: right"></td>
        <td></td>
        <td style="font-weight: bold; text-align: right"></td>
      </tr>
    </tbody>
  </table>
</div>
