<div class="btn-container">
  <div>
    <button mat-button (click)="addRubrique()">ajouter un article</button>
  </div>
</div>

<div>
  <div style="text-align: center; text-transform: uppercase; font-weight: bold">
    <h3>listes des rubriques</h3>
  </div>
  <table style="width: 100%">
    <thead style="width: 100%; border: 1px black solid">
      <tr
        style="width: 100%; border: 1px black solid"
        style="text-transform: uppercase; font-size: 12px"
      >
        <th style="text-align: center; padding: 8px; border: 1px solid black">
          Ajouté Le
        </th>
        <th style="text-align: center; padding: 8px; border: 1px solid black">
          name
        </th>
        <th style="text-align: center; padding: 8px; border: 1px solid black">
          level
        </th>

        <th style="text-align: center; padding: 8px; border: 1px solid black">
          action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of rubriqueArr; let i = index"
        [ngStyle]="{ 'background-color': i % 2 == 0 ? 'white' : '#f1f1f1' }"
      >
        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        >
          {{ row.created | date: "medium" }}
        </td>
        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        >
          {{ row.name ? row.name : "." }}
        </td>

        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        >
          {{ row.level ? row.level : "." }}
        </td>

        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        >
          <button mat-button (click)="deleteRubrique(row)">delete</button>
        </td>
        <td
          style="
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            font-size: 13px;
          "
        ></td>
      </tr>
    </tbody>
  </table>
</div>
