<header>
  <div class="mainDiv">
    <div class="imgLeft">
      <img
        src="../../../assets/img/paul_biya_v2.png"
        alt=""
        width="200"
        height="150"
        id="hp"
      />
    </div>
    <div class="centerTitle">
      <div class="logoPresidence">
        <img
          src="../../../assets/img/camroonicon-192.png"
          alt=""
          width="50"
          height="50"
        />
      </div>
      <div>
        <h1
          style="
            text-transform: uppercase;
            color: white;
            text-decoration: underline;
            margin: 0%;
          "
        >
          présidence du cameroun
        </h1>
        <h6 style="text-transform: uppercase; color: white; margin: 0%">
          site audio visuel du president de la republique s.e paul biya
        </h6>
      </div>

      <div class="navigationMenu">
        <ul class="sidenav">
          <li><a class="active" href="#home">Acceuil</a></li>
          <li><a href="#news">Actualités</a></li>
          <li><a href="#contact">chaines</a></li>
          <li><a href="#about">Galeries</a></li>
          <li><a href="#about">Institutions</a></li>
        </ul>
      </div>
    </div>
    <div class="logoRight">
      <div>
        <mat-icon
          style="color: white"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="facebook_outline"
        ></mat-icon>
        <mat-icon
          style="color: white"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="twitter"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="mail_outline"
          style="color: white"
        ></mat-icon>
      </div>
    </div>
  </div>
</header>

<!--
    <mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="col1">
      <img
        src="../../../assets/img/paul_biya_v4.png"
        alt=""
        width="150"
        height="150"
        id="hp"
      />
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1"> col 2 </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"> col 3 </mat-grid-tile>
  </mat-grid-list>
-->
